{% extends "base.html.twig" %}

{% block title %}New User{% endblock %}

{% block body %}
    <div>
    {% for key,messages in app.flashes %}
        {% for message in messages %}
            <span class="alert-"{{ key }}>{{ message }}</span>
        {% endfor %}
    {% endfor %}
    </div>
    {{ form_start(form) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Name'}}) }}

        {{ form_widget(form.age, {'attr': {'class': 'form-control', 'placeholder': 'Age'}}) }}

        {{ form_widget(form.job, {'attr': {'class': 'form-control', 'placeholder': 'Job'}}) }}

        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_end(form) }}
{% endblock %}